/* Font Raleway */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

/* All */

body{
    
    margin: 40px;
    font-family: "Raleway", sans-serif;
}

#main{
    margin: 0 40px 40px;
}



.flex{
    display: flex;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

/* Header */

header{
    justify-content: space-between;
    margin-bottom: 35px;
}

.logo{
    margin-top: 30px;
    flex: 1;
}

.logo_frame{
  width: 61.09px;
}

/* Nav */

nav li{
    padding-top: 40px;
}

nav a{
    padding: 40px 30px 0;
}

nav li a:hover{
    color: #0065FC;
    padding-top: 38px;
    border-top: 2px solid #0065FC;
}

/* Search bar */

.search{
    margin-bottom: 30px;
}

.search h2{
    margin-bottom: 10px;
}

.search p{
    margin-top: 10px;
}

.searchBar{
    margin-bottom: 30px;
    height: 50px;
}

.containerMarker{
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    width: 50px;
    flex-shrink: 0;
}

.containerMarker i{
    margin: auto;
    font-size: 1.2rem;
}

.searchInput{
    border: 1px solid #f2f2f2;
    padding: 0 0 0 15px;
    font-size: 1.1rem;
    font-weight: 600;
    width: 230px;
}

.searchInput::placeholder{
    color: black;
}

.searchButton{
    width: 130px;
    background-color: #0065FC;
    border: none;
    padding: 0;
    border-radius: 0 15px 15px 0;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    flex-shrink: 0;
}

.searchButton i{
    display: none;
}

/* Filters */

.textFilter{
    align-self: center;
}

.filters{
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.filter{
    align-items: center;
    height: 46px;
    border: 2px solid #D9D9D9;
    margin-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
}



.filter:hover{
    cursor: pointer;
    background-color: #DEEBFF;
    color: black;
}

.filterList{
    flex-wrap: wrap;
}

.iconFilter{
    position: relative;
    margin-left: 20px;
    margin-right: 10px;
    
}

.iconFilter i{
    margin: auto;
    color: #0065FC;
    
}

.iconInfo{
    height: 20px;
    width: 20px;
    border: 1px solid #f2f2f2;
    border-radius: 1rem;
    margin-right: 10px;
}

.iconInfo i{
    margin: auto;
    font-size: .9rem;
    color: #0065FC;  
}


/* Hotels Frames */
.blueStar{
    color: #0065FC;
}

.greyStar{
    color: #f2f2f2;
}

.containerHotels{
    display: flex;
    flex-direction: row;
    gap: 40px;
    
}

.hotels, .popular{
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 40px;
    
}


.hotels{
width: 75%;
}

.hotelsFlex {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    margin: 30px 0 40px;
    
}


.hotelFrame img{   
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 70%;
    width: 100%;
    object-fit: cover;
}


.hotelFrame {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 246px;
    height: 199px;
    box-shadow: 0 0 7px #c1c1c1;;
    border-radius: 20px;
    overflow: hidden;
    border: 5px solid #fff;
    box-sizing: border-box;
    
}

.hotelDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    padding: 0px 10px;
    
}

.hotelDescription p{
    margin: 0;
}

.hotelRate{
    word-spacing: -1ch;
}

.fa-star{
    font-size: .8rem;
    letter-spacing: 2px;
}

.showMore{
    font-weight: 700;
    font-size: 1.2rem;
}


/*Popular*/

.popularIcon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.popularIcon i{
    color: #0065FC;
}

.popularFrame{
    height: 145px;
    border: 5px solid #fff;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 7px #c1c1c1;
    box-sizing: border-box;
    overflow: hidden;
}

.popularFrame img{
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.popularDescription{
    flex: 1;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.hotelName{
    margin: 0;
    font-weight: 700;
    font-size: 1.1rem;
}

.popularDescription .hotelName + p{
    margin-top: 8px;
    margin-bottom: 0;
}

/* Activities*/

.activitiesFlex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.activityFrame img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 389px;
    width: 100%;
    object-fit: cover;
}

.activityFrame {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 302px;
    height: 444px;
    box-shadow: 0 0 7px #c1c1c1;;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
    border: 0px solid #fff;
}

.activityDescription{
    margin: 0;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 20px;
}
/* Footer */

footer{
    padding: 40px 50px 50px;
    background-color: #f2f2f2;
    margin: 50px 50px 0 50px;
}

footer div{
    flex: 1;
}


footer li{
    margin-bottom: 15px;
}

footer a:hover{
    font-weight: 600;
    color: #0065FC;
}






/* Tablet version */
@media only screen and (max-width: 1024px){

    /* Search - Tablet */
    .filters{
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .textFilter{
        align-self: flex-start;
        padding-right: 10px;
        padding-top: 10px;
    }

    .filter{
        margin: 0 1rem 1rem 0;
    }

    
    /* Hotels - Tablet */
    
    .hotelsFlex{
        display: flex;
        flex-direction: row;

    }

    .hotels {
        width: 90%;
    }
    .hotelsFrame{
        height: 199px;
        width: 100%;
    }
    /* Popular - Tablet */

    .popularTab{
        display: flex;
        flex-direction: row;
    }

    .popularFrame{
        width: 252px;
        height: 70%;
        max-height: 267px;
    }
    .popular{
        margin: 0 0 20px;
    }

    .popularFrame{
        height: 180px;
    }


    .containerHotels{
        flex-direction: column;
    }

    /*Activities - Tablet */

    .activitiesFlex{
        display: flex;
        flex-flow: row nowrap;
    }

    .activityFrame{
        height: 267px;
        width: 182px;
    }
}